# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.pidb.meta
*.pdb.meta

# Visual Studio
.vs/
*.suo
*.csproj
*.sln
*.userprefs

# Backup & temp files (use Git for version history!)
*.backup
*.backup.meta
*.bak
*.bak.meta
*.tmp

# ZIP archives in Assets
Assets/**/*.zip
Assets/**/*.zip.meta

# Recovery & temp Unity folders
Assets/Temp/
Assets/Temp.meta
Assets/_Recovery/
Assets/_Recovery.meta

# OS
.DS_Store
Thumbs.db
